@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/all.min.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #4abaa7;
    --color-brand: #004080;
}
@utility container {
    @apply mx-auto px-6 py-4;
}
[x-cloak] {
    display: none !important;
}

@layer utilities {
    .wrapper {
        @apply bg-white p-6 rounded-lg shadow-sm border border-gray-200;
    }
}
.dropdown-enter {
    opacity: 0;
    transform: translateY(-10px);
}
.dropdown-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease-out;
}
.dropdown-leave {
    opacity: 1;
    transform: translateY(0);
}
.dropdown-leave-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.2s ease-in;
}